CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BSP_LCD_RGB_BUFFER_NUMS=3
CONFIG_FREERTOS_HZ=1000

# LVGL 9 Core Configurations
CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_DEF_REFR_PERIOD=16
CONFIG_LV_OBJ_STYLE_CACHE=y
CONFIG_LV_DRAW_SW_DRAW_UNIT_CNT=2
CONFIG_LV_USE_FLOAT=y

# Fonts (Montserrat + Source Han Sans CJK)
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_SOURCE_HAN_SANS_SC_16_CJK=y
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_16=y

# esp_lvgl_adapter & ThorVG Lottie stack
CONFIG_ESP_LV_ADAPTER_TASK_STACK_SIZE=32768
CONFIG_ESP_LV_ADAPTER_TASK_PRIORITY=6

# Wi-Fi & LWIP memory optimization
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=0

# Bluetooth Classic & A2DP Sink (BR/EDR only saves ~60KB internal SRAM)
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_A2DP_ENABLE=y
CONFIG_BT_BLE_ENABLED=n
CONFIG_BT_CTRL_ALLOW_MALLOC_FROM_SPIRAM=y
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y
CONFIG_BT_BLUEDROID_TASK_STACK_IN_EXT_MEM=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

# ESP-DSP SIMD & Hardware Vector Acceleration
CONFIG_DSP_OPTIMIZATIONS_SUPPORTED=y
CONFIG_DSP_OPTIMIZED=y
CONFIG_DSP_OPTIMIZATION=1
CONFIG_DSP_MAX_FFT_SIZE_4096=y
CONFIG_DSP_MAX_FFT_SIZE=4096

# ESP-DL SIMD Hardware Acceleration & Pixel Formats
CONFIG_PIX_CVT_RGB565_TO_RGB888_SUPPORT=y
CONFIG_PIX_CVT_RGB565_TO_GRAY_SUPPORT=y
CONFIG_PIX_CVT_RGB888_TO_RGB565_SUPPORT=y
CONFIG_PIX_CVT_RGB888_TO_GRAY_SUPPORT=y

# ESP-SR global bilingual command control
CONFIG_MODEL_IN_FLASH=y
CONFIG_SR_WN_WN9L_JA_KONNICHIHAESP_TTS3=y
CONFIG_SR_MN_EN_MULTINET7_QUANT=y
