CONFIG_IDF_TARGET_ESP32S31=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_320=y
CONFIG_BSP_LCD_RGB_BUFFER_NUMS=2
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_A2DP_ENABLE=y
CONFIG_BT_BLE_ENABLED=n
CONFIG_BT_CTRL_ALLOW_MALLOC_FROM_SPIRAM=y
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y
CONFIG_BT_BLUEDROID_TASK_STACK_IN_EXT_MEM=y
CONFIG_CAMERA_OV3660=y
CONFIG_CAMERA_OV3660_AUTO_DETECT_DVP_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV3660_DVP_RGB565_BE_240X240_24FPS=y
CONFIG_CAMERA_OV3660_DVP_RGB565_BE_640X480_10FPS=y
CONFIG_CAMERA_OV3660_DVP_YUV422_YUYV_640X480_10FPS=y
CONFIG_CAMERA_OV3660_DVP_DEFAULT_FMT_RGB565_BE_640X480_10FPS=y
CONFIG_CAMERA_SC030IOT=y
CONFIG_CAMERA_SC030IOT_AUTO_DETECT_DVP_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC030IOT_DVP_YUV422_640X480_26FPS=y
CONFIG_CAMERA_SC030IOT_DVP_DEFAULT_FMT_YUV422_640X480_26FPS=y
CONFIG_CAMERA_SC030IOT_DVP_IF_FORMAT_INDEX_DEFAULT=0
CONFIG_CAMERA_SC101IOT=y
CONFIG_CAMERA_SC101IOT_AUTO_DETECT_DVP_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC101IOT_DVP_YUV422_1280X720_15FPS=y
CONFIG_CAMERA_SC101IOT_DVP_DEFAULT_FMT_YUV422_1280X720_15FPS=y
CONFIG_CAMERA_SC101IOT_DVP_IF_FORMAT_INDEX_DEFAULT=0
